<div class="new_main">
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
    <div class="field">
      <div class="registration">
        <h2>新規登録</h2>
      </div>
    </div>
    <div class="field">
      <%= f.label :ニックネーム, class: :new_nickname %><br>
      <%= f.text_field :nickname, autofocus: true, class: :new_nickname_sub %>
    </div>

    <div class="field">
      <%= f.label :メールアドレス, class: :new_email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: :new_email_sub %>
    </div>

    <div class="field">
      <%= f.label :パスワード, class: :new_password %>
      <% if @minimum_password_length %>
      <%= @minimum_password_length %>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password",placeholder: "英数字混合(6文字以上)", class: :new_password_sub %>
      </div>

    <div class="field">
      <%= f.label :パスワード確認用, class: :new_confirmation %><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: :new_confirmation_sub %>
    </div>

    <div class="actions">
      <%= f.submit "登録" %>
    </div>
  <% end %>
  </div>

  
