<div class="lists_main">
  <div class="post_main">
    <% @post.each do |post| %>
      <div class="post_title">
        <%= link_to post.title, class: :post_title %>
      </div>
      <div class="post_image">
        <%= link_to image_tag post.image, class: :post_image_tag %>
      </div>
      <div class="post_detail">
        <ul>
          <li>
            <%= link_to '詳細', post_path(post.id), method: :get %>
          </li>
        </ul>
      </div>
      <div class="post_content">
        <%= post.content %>
      </div>
      <div class="post_nickname">
        <%= link_to "by #{post.user.nickname}", class: :post_nickname %>
      </div>
    <% end %>
</div> 