<div class="container">
  <%= form_with(model: @post, local: true) do |f| %>
    <div class="posts-main">
      <h2>情報を入力してください</h2>
    </div>
    
    <div class="posts-main">
      タイトル<br>
      <%= f.text_field :title, class:"posts-name", placeholder: "titleをお書きください" %><br>
    </div>
    <div class="posts-main">
      写真<br>
      <%= f.file_field :image, class:"posts-name", placeholder: "お気に入りの画像を添付お願い致します" %>
    </div>
    <div class="posts-main">
      おすすめポイント！<br>
      <%= f.text_area :content, class:"posts-content", placeholder: "このスポットの良さ・一押しポイントなどご自由にお書きください"%>
    </div>
    <div class="posts-main"> 
      都道府県<br> 
      <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class: :posts_name, id:"item-prefecture"}) %>
    </div>
    <div class="posts-main">  
      <%= f.submit "投稿する" %>
    </div>
    <div class="posts-main">
      ご協力ありがとうございます！
    </div>
  <% end %>
</div>