<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="header">
     <div class="header_bar">
       <h1 class="grid-6"><a href="/">あなたの隠れおすすめスポット！</a></h1>
     </div>
     <div class="log_right" %>
       <%= link_to "ログイン", class: :log_btn %>
       <%= link_to "新規登録", class: :log_btn %>
     </div>
    </header>
    <%= yield %>
   
  </body>
</html>
